* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*border: 1px solid red;*/
}

body {
    background-color: rgb(228, 240, 211);
}

header {
    margin: 20px 15px;
}

h1 {
    float: right;
    margin-right: 50px;
    color: red;
}

.coche {
    position: relative; /* Esto es necesario para mover el coche con margin-left */
    transition: margin-left 0.2s ease; /* Agregar una transición suave al movimiento */
}
